<html>
<head></head>
    <body>
        <form action="/login" method="post">
            <input name="username" type="text" />
            <input name="password" type="password" />
            <input value="Login" type="submit" />
        </form>
    </body>
</html>